/*
    CSS Variables
*/

:root {
    --main-color: hsla(144, 88%, 30%, 1);
    --accent-color: hsla(337, 100%, 50%, 1);
    --dark-color: hsla(0, 0%, 12%, 1);
    --light-color: hsla(0, 0%, 100%, 1);
    --join-button-color: rgb(0, 26, 110);
    --join-button-textcolor: hsla(0, 0%, 100%, 1);
    --title-font: "Cedarville Cursive", cursive;
    --subtitle-font: Helvetica;
    --paragraph-font: Helvetica;
}

/*
    CSS Reset
*/

body {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, li {
    text-decoration: none;
}

a {
    color: inherit;
}

li {
    list-style: none;
}

/*
    Global Styles
*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

li {
    font-family: var(--subtitle-font);
}

p {
    font-family: var(--paragraph-font);
}

/*
    Main Layout
*/

/*
    Navigation
*/

nav {
    background-color: var(--main-color);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

nav ul li {
    text-align: center;
    font-size: 1.2em;
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li:hover a {
    color: var(--dark-color);
}

nav ul li a {
    font-weight: 800;
    transition: color 400ms ease-in-out;
}

nav ul li img {
    height: auto;
    width: 3em;
}

nav ul li:hover img {
    cursor: default;
}


/*
    Landing Section
*/

section.landing {
    text-align: center;
    padding: 0.25em;
    margin-top: 4em;
}

section.landing div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

section.landing div button {
    padding: 0.25em;
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: 1.5em;
    background-color: var(--dark-color);
    color: var(--main-color);
    border: 0.1em var(--accent-color) solid;
    border-radius: 0.5em;
    transition: color 400ms ease-in-out;
}

section.landing div button:hover {
    cursor: pointer;
    color: var(--light-color);
}

section.landing h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

/* 
    @Someonewho2 CSS code
*/

.home{
    background-image: url(../assets/BG.jpg);
    height: 979px;
    box-sizing: border-box;
}

.join{
    padding-left: 670px;
    width: 100%;
    height: inherit;
    background-color:black;
}

.join .Join_Button {
    position: fixed;
    background-color: var(--join-button-color);
    border: var(--dark-color);
    color: var(--join-button-textcolor);
    font-size: 50px;
    width: 500px;
    height: 75px;
    border-radius: 15px 15px 10px;
    transition: background-color 420ms;
}

.join .Join_Button:hover{
    background-color: rgb(72, 72, 241);
}

.img{
   display: none;
}

.big_text {
    font-size: 100px;
    text-align: center;
    padding-top: 200px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description{
    background-image: radial-gradient(blue,rgb(72, 70, 187));
    height: 979px;
    box-sizing: border-box;
}

.description .paragraph{
    color:white;
    font-size: 30px;
    text-align: right;
    padding-top: 300px;
    margin: 100px;
    text-decoration: underline;
}

.description .paragraph br{
    margin: 5px;
}

/* Stats Section */

.stats{
    background-color: black;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        "a b ."
        ". c d"
        "e f .";
    grid-gap: 0.5em;
}

.box1, .box2, .box3 {
    background-color: white;
    color: blue;
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0 0.5em 0.5em 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: min(200px);
    height: min(200px);
}

.box1 {
    grid-area: a;
}

.box2{
    grid-area: d;
    border-radius: 0.5em 0 0 0.5em;
    margin-left: 420px;
}

.box3{
    grid-area: e;
}

.row_description1, .row_description2, .row_description3 {
    font-size: 30px;
    align-self: center;
}

.row_description1{
    grid-area: b;
}

.row_description2{
    grid-area: d;
    text-align: right;
    padding-right: 210px;
}

.row_description3{
    grid-area: f;
}


.join_message{
    display: none;
}

.informations{
    display: none;
}
