/*
    CSS Variables
*/

:root {
    --main-color: hsla(144, 88%, 30%, 1);
    --accent-color: hsla(337, 100%, 50%, 1);
    --dark-color: hsla(0, 0%, 12%, 1);
    --light-color: hsla(0, 0%, 100%, 1);
    --Join-Button-Color: rgb(0, 26, 110);
    --Join-Button-TextColor: hsla(0, 0%, 100%, 1)
    --title-font: "Cedarville Cursive", cursive;
    --subtitle-font: Helvetica;
    --paragraph-font: Helvetica;
}

/*
    CSS Reset
*/

body {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, li {
    text-decoration: none;
}

a {
    color: inherit;
}

li {
    list-style: none;
}

/*
    Global Styles
*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

li {
    font-family: var(--subtitle-font);
}

p {
    font-family: var(--paragraph-font);
}

/*
    Main Layout
*/

/*
    Navigation
*/

nav {
    background-color: var(--main-color);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

nav ul li {
    text-align: center;
    font-size: 1.2em;
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li:hover a {
    color: var(--dark-color);
}

nav ul li a {
    font-weight: 800;
    transition: color 400ms ease-in-out;
}

nav ul li img {
    height: auto;
    width: 3em;
}

nav ul li:hover img {
    cursor: default;
}


/*
    Landing Section
*/

section.landing {
    text-align: center;
    padding: 0.25em;
    margin-top: 4em;
}

section.landing div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

section.landing div button {
    padding: 0.25em;
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: 1.5em;
    background-color: var(--dark-color);
    color: var(--main-color);
    border: 0.1em var(--accent-color) solid;
    border-radius: 0.5em;
    transition: color 400ms ease-in-out;
}

section.landing div button:hover {
    cursor: pointer;
    color: var(--light-color);
}

section.landing h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

/* 
    @Someonewho2 CSS code
*/

.home{
    background-image: url(../assets/BG.jpg);
    height: 979px;
    box-sizing: border-box;
}

.join{
    padding-left: 670px;
    width: 100%;
    height: inherit;
    background-color:black;
}

.join .Join_Button {
    background-color: var(--Join-Button-Color);
    border: var(--dark-color);
    color: var(--Join-Button-TextColor);
    font-size: 50px;
    width: 500px;
    height: 75px;
    border-radius: 15px 15px 10px;
    transition: background-color 420ms;
}

.join .Join_Button:hover{
    background-color: rgb(72, 72, 241);
}

.img{
   display: none;
}

.big_text {
    font-size: 100px;
    text-align: center;
    padding-top: 200px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description{
    background-image: radial-gradient(blue,rgb(72, 70, 187));
    height: 979px;
    box-sizing: border-box;
}

.description .paragraph{
    color:white;
    font-size: 30px;
    text-align: right;
    padding-top: 300px;
    margin: 100px;
    text-decoration: underline;
}

.description .paragraph br{
    margin: 5px;
}

.stats{
    background-color: black;
    height: 979px;
    box-sizing: border-box;
}

.row_stat .Box1{
    position: relative;
    top: 50px;
    width: 300px;
    font-size: 100px;
    border: none;
    border-radius: 15px 15px 15px;
    background-color: white;
    color: rgb(81, 124, 241);
    padding-left: 20px;
}

.row_stat .row_description1{
    text-align: left;
    position: relative;
    bottom: 400px;
    padding-left: 300px;
    margin-left: 10px;
    font-size: 30px;
}

.row_stat .Box2{
    width: 300px;
    font-size: 100px;
    border: none;
    border-radius: 15px 15px 15px;
    background-color: white;
    color: rgb(81, 124, 241);
    position: relative;
    left: 1500px;
    bottom: 240px;
}

.row_stat .row_description2{
    text-align: left;
    position: relative;
    bottom: 700px;
    padding-left: 500px;
    margin-left: 10px;
    font-size: 30px;
}

.row_stat .Box3{
    width: 300px;
    font-size: 100px;
    border: none;
    border-radius: 15px 15px 15px;
    background-color: white;
    color: rgb(81, 124, 241);
    padding-left: 30px;
    position: relative;
    bottom: 520px;
}

.row_stat .row_description3{
    text-align: left;
    position: relative;
    bottom: 1050px;
    right: 190px;
    padding-left: 500px;
    margin-left: 10px;
    font-size: 30px;
}

.row_stat .L1{
    position: relative;
    left: 1500px;
    bottom: 205px;
    height: 300px;
    width: 10px;
    border: solid blue 1px;
    background-color: blue;
}

.row_stat .L2{
    border: solid blue 1px;
    position: relative;
    bottom: 205px;
    left: 420px;
    width: 1090px;
    height: 10px;
    background-color: blue;
}

.row_stat .L3{
    position: relative;
    bottom: 490px;
    left: 420px;
    height: 300px;
    width: 10px;
    border: solid blue 1px;
    background-color: blue;
}

.row_stat .L4{
    border: solid blue 1px;
    position: relative;
    bottom: 500px;
    left: 420px;
    width: 1090px;
    height: 10px;
    background-color: blue;
}

.row_stat .L5{
    position: relative;
    bottom: 820px;
    left: 1500px;
    border: solid blue 1px;
    background-color: blue;
    width: 10px;
    height: 384px;
}

.join_message{
    display: none;
}

.informations{
    display: none;
}
